*{
    padding: 0px;
    margin: 0px;
    text-align: center;
    color: white;
}
body{
     padding: 14px;
   background-color: black;
}
.down{
    border: 2px;
    cursor: pointer;
}
.icon{
    height: 100px;
    width: 100px;
    filter: blur(550);
}
.social img{
    height: 90px;
    width: 90px;
}
.heading{
    font-size: 50px;
    color:skyblue;
}
figcaption{
    font-size: 40px;
    color: red;
}
